@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&display=swap');


:root{
  --brand-green: #08BD80;
  --brand-lightgreen:rgb(110, 223, 185);
  --brand-blue: #2D81F7;
  --brand-yellow: #d0911c;
  --brand-black: #202C2C;
  --brand-gray: #858585;
  --brand-lightblue: #8acbf0;
  --brand-red: red;
}

body{
    /* margin: auto; */
    /* align-items: center; */
    font-family: 'Hind Siliguri', 'Poppins', sans-serif, serif;
}
::selection{
  background-color: var(--brand-lightgreen);
}

main{
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 80vh;
}

li{
  list-style-type: none;
}

.navbar-brand{
  font-weight: 700;
}
.title{
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.title h1{
    border-bottom: 5px solid var(--brand-green);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.title h2{
    font-weight: 700;
    color: red;
}

.cta-link{
  text-decoration: none;
  color: var(--brand-red);
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
}


.notice ul{
  padding: 0px;
  text-align: center;
  border: 1px solid black;
}
.notice ul li{
  border-bottom: 1px solid black;
  padding: 10px 8px;
}
.notice ul li:last-child{
  border-bottom: none;
}

.date{
  font-size: 18px;
  color: var(--brand-blue);

}

/* about bsa... */
.author{
  color: var(--brand-gray);
}

.about-bsa-text p{
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}
/* reg rules */
.reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* registation */

.reg ul li{
    list-style-type: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    white-space: normal;
    word-wrap: break-word;
}



.form{
  margin: 20px 5px;
}

.reg-alt{
  margin: 20px 5px;

}

footer p{
  text-align:center;
  font-size: 100%;
  color: var(--brand-blue);
}


/* jdklfajsdlkajsdflasdglfk */
.colored-text-1{
  color: var(--brand-blue);
}
.colored-text-2{
  color: var(--brand-green);
}
.colored-text-3{
  color: var(--brand-red);
}

/* blinking text */
#blinkingText img{
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.hidden{
  visibility: hidden;

}



/* responsive */

@media only screen and (max-width: 992px) {
  body {
    margin: 0 5px;
  }

}

@media only screen and (max-width:680px){

  .title h1{
    font-size: 25px;
  }

  .cta-link{
    flex-direction: column;
    align-items: center;
  }

  .reg ul li{
    font-size: 15px;
  }
}